* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.a {
    --fs-6: 2.2rem;
}

.b {
    margin-block-end: 50px;

}

.ser {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    min-height: 100%;
    border: 1px solid var(--light-gray);
    border-radius: var(--radius-4);
    padding: 30px;
}

.caedic {

    width: 50px;
}

.title {
    margin-block-end: 8px;

}

.book {

    text-transform: capitalize;
}

.book1 {
    color: var(--white);
    font-size: var(--fs-3);
    margin-block-end: 30px;

}

.a {
    border-top: none;
    background-color: blue;
    color: #fff;
    padding: 0 8px 16px;
    display: block;
    font-weight: 500;
}

.b {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.item {
    flex: 2 0;
    padding-top: 16px;
    padding-left: 3%;

}

ul {
    padding: 0;
    list-style-type: none;

}

.title {
    color: #ccc;
    font-size: 13px;
    margin-bottom: 15px;
}


.foot {
    background-color: rgb(5, 5, 43);
    color: white;

}

.foote {
    display: grid;
    gap: 30px;
}

.logo {
    color: var(--white);

}

.foottext {
    line-height: 1.6;
    margin-block: 15px;

}

.schdul {
    display: flex;
    align-items: center;
    gap: 15px;

}

.schicon {
    background-image: var(--gradient);
    color: var(--white);
    font-size: 18px;
    padding: 11px;
    border-radius: 50%;

}

span {
    line-height: 1.6;

}
.navbar{
    background: #2db06802!important;

}
.navbar-nav li{
    padding: 0 10px;
}

.navbar-nav li a{
    color: #d69191!important;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
}
.navbar-nav li a:hover{
    color: #fbaa1a!important;
}